@{
    ViewBag.Title = "Environment";
    Layout = "~/Views/Shared/HotelBefore.cshtml";
}
<link href="~/Styles/Dishes.css" rel="stylesheet" type="text/css" />
@section lefttitle{
    <div class="lefttitle">
        dish categoty
    </div>
}
@section leftcontent1{
    <div class="content1">
        <div class="conitem">
            <a href="#">hot choice</a>
        </div>
        <div class="conitem">
            <a href="#">special</a>
        </div>
        <div class="conitem">
            <a href="#">newest</a>
        </div>
    </div>
}
@section righttitle{
    environment

}
<div class="cdiv">
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="~/Before/EnvironmentDetail">NO.1</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="~/Before/EnvironmentDetail">NO.2</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing03.jpg" />
        </div>
        <div class="dishname">
            <a href="#">NO.3</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing04.jpg" />
        </div>
        <div class="dishname">
            <a href="#">NO.4</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing05.jpg" />
        </div>
        <div class="dishname">
            <a href="#">NO.5</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing06.jpg" />
        </div>
        <div class="dishname">
            <a href="#">NO.6</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="#">NO.7</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="#">NO.8</a>
        </div>
    </div>
</div>