@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/HotelBefore.cshtml";
}

@section lefttitle{
    <div class="lefttitle">
    Title
</div>
}

@section leftcontent1{
   <div class="content1">
    <div class="conitem">
        <a href="#">introduction</a>
    </div>
    <div class="conitem">
        <a href="#">cultrue</a>
    </div>
    <div class="conitem">
        <a href="#">honor list</a>
    </div>
    <div class="conitem">
        <a href="#">awards</a>
    </div>
    <div class="conitem">
        <a href="#">company story</a>
    </div>
</div>
}
@section lefttitle2{
    
    <div class="lefttitle">
    contact 
</div>
    }
@section leftcontent2{
<div class="content2">
    <div style="padding-left: 33px; padding-right: 0px; font: 12px/18px simsun; color: #3f3b32;">
       
    </div>
</div>
}

@section righttitle{
    About us
    
    }
<div style="width: 675px; float: left; margin: 30px 0px 0px 40px; display: inline;
        color: #3F3B32;">
    <img style="float: left; margin: 0px 30px 0px 0px" alt="" src="/Images/othermaster/company.jpg"
         border="0" />
</div>
<div style="width:650px;margin-left:48px;display:inline; margin-top:30px;float:left; line-height:30px;">
    
</div>
