@{
    ViewBag.Title = "JoinUs";
    Layout = "~/Views/Shared/HotelBefore.cshtml";
}
@section lefttitle{
    <div class="lefttitle">
       
    </div>
}

@section leftcontent1{
    <div class="content1">
        <div class="content1">
            <div class="conitem">
                <a href="#">introduction</a>
            </div>
            <div class="conitem">
                <a href="#">cultrue</a>
            </div>
            <div class="conitem">
                <a href="#">honor list</a>
            </div>
            <div class="conitem">
                <a href="#">awards</a>
            </div>
            <div class="conitem">
                <a href="#">company story</a>
            </div>
        </div>
    </div>
}
@section lefttitle2{

    <div class="lefttitle">
       
    </div>
}
@section leftcontent2{
    <div class="content2">
        <div style="padding-left: 33px; padding-right: 0px; font: 12px/18px simsun; color: #3f3b32;">
          
        </div>
    </div>
}

@section righttitle{
    

}
<div class="outdiv">
    <img src="../Images/joinus/joinus.jpg" />
</div>
